openapi: 3.0.3
info:
  title: AMC Theatres Barcodes Seating API
  description: 'The AMC Theatres API is a public REST API published by AMC Entertainment Holdings

    that exposes data and transactional capabilities for AMC theatres, movies, showtimes,

    locations, loyalty, concessions, orders, refunds, media, and webhooks. It is intended

    for partner integrations such as movie discovery, ticket sales, dine-in / express pickup

    concession ordering, AMC Stubs loyalty integrations, and entertainment listings on

    third-party sites and apps.


    Authentication is performed by sending a vendor API key in the `X-AMC-Vendor-Key`

    request header. Responses follow a HAL-style envelope (`pageSize`, `pageNumber`,

    `count`, `_embedded`, `_links`) for collections.


    This OpenAPI definition was reconstructed from the public AMC Developer Portal

    documentation (developers.amctheatres.com) and known integrations. The dev portal

    blocks automated retrieval, so this spec was assembled from third-party mirrors

    of the AMC documentation and verified against open-source AMC API clients.'
  version: v2
  contact:
    name: AMC Theatres Developer Portal
    url: https://developers.amctheatres.com
  termsOfService: https://www.amctheatres.com/legal/terms-of-use
  license:
    name: AMC Theatres API Terms of Use
    url: https://www.amctheatres.com/legal/terms-of-use
servers:
- url: https://api.amctheatres.com
  description: AMC Theatres production API
security:
- VendorKey: []
tags:
- name: Seating
  description: Seating layouts and seat selection.
paths:
  /v2/theatres/{theatre-number}/seating-layouts:
    get:
      summary: List Seating Layouts For an Auditorium
      description: Returns the seating layouts available at the specified theatre auditorium.
      operationId: listTheatreSeatingLayouts
      tags:
      - Seating
      parameters:
      - $ref: '#/components/parameters/TheatreNumber'
      responses:
        '200':
          description: Seating layouts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeatingLayoutCollection'
  /v2/seating-layouts/{theatre-number}/{performance-number}:
    get:
      summary: Get Seating Layout For Performance
      operationId: getSeatingLayoutForPerformance
      tags:
      - Seating
      parameters:
      - $ref: '#/components/parameters/TheatreNumber'
      - name: performance-number
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Seating layout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeatingLayout'
components:
  schemas:
    PagedCollection:
      type: object
      properties:
        pageSize:
          type: integer
        pageNumber:
          type: integer
        count:
          type: integer
        _links:
          $ref: '#/components/schemas/HalLinks'
    SeatingLayoutCollection:
      allOf:
      - $ref: '#/components/schemas/PagedCollection'
      - type: object
        properties:
          _embedded:
            type: object
            properties:
              seatingLayouts:
                type: array
                items:
                  $ref: '#/components/schemas/SeatingLayout'
    Seat:
      type: object
      properties:
        seatId:
          type: string
        seatType:
          type: string
          enum:
          - Standard
          - Wheelchair
          - Companion
          - Recliner
          - Premium
          - LoveSeat
          - Couple
        isAvailable:
          type: boolean
        row:
          type: string
        column:
          type: integer
    HalLinks:
      type: object
      additionalProperties:
        type: object
        properties:
          href:
            type: string
          templated:
            type: boolean
    SeatingLayout:
      type: object
      properties:
        layoutId:
          type: integer
        name:
          type: string
        rows:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              seats:
                type: array
                items:
                  $ref: '#/components/schemas/Seat'
  parameters:
    TheatreNumber:
      name: theatre-number
      in: path
      required: true
      description: The theatre number / id.
      schema:
        type: integer
  securitySchemes:
    VendorKey:
      type: apiKey
      in: header
      name: X-AMC-Vendor-Key
      description: AMC vendor API key issued via the AMC Theatres developer portal.
externalDocs:
  description: AMC Theatres Developer Portal
  url: https://developers.amctheatres.com
