openapi: 3.2.0
info:
  title: AMC Theatres Barcodes API
  description: 'The AMC Theatres API is a public REST API published by AMC Entertainment Holdings

    that exposes data and transactional capabilities for AMC theatres, movies, showtimes,

    locations, loyalty, concessions, orders, refunds, media, and webhooks.'
  version: v2
  contact:
    name: AMC Theatres Developer Portal
    url: https://developers.amctheatres.com
  termsOfService: https://www.amctheatres.com/legal/terms-of-use
  license:
    name: AMC Theatres API Terms of Use
    url: https://www.amctheatres.com/legal/terms-of-use
servers:
- url: https://api.amctheatres.com
  description: AMC Theatres production API
security:
- VendorKey: []
tags:
- name: Barcodes
  description: Ticket and loyalty QR codes and Code 128 barcodes.
paths:
  /v3/qr-codes/{encrypted-reference-id}:
    get:
      summary: Get Ticket QR Code
      description: Returns the referenceId as a QR Code for the given encrypted product/reference id combination.
      operationId: getTicketQrCode
      tags:
      - Barcodes
      parameters:
      - name: encrypted-reference-id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: QR code image.
          content:
            image/png:
              schema:
                type: string
                format: binary
  /v3/code128/{encrypted-reference-id}:
    get:
      summary: Get Ticket Code 128 Barcode
      operationId: getTicketCode128Barcode
      tags:
      - Barcodes
      parameters:
      - name: encrypted-reference-id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Code 128 image.
          content:
            image/png:
              schema:
                type: string
                format: binary
  /v3/amc-accounts/{account-id}/loyalty/qr-code:
    get:
      summary: Get Loyalty Card QR Code
      operationId: getLoyaltyQrCode
      tags:
      - Barcodes
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: QR code image.
          content:
            image/png:
              schema:
                type: string
                format: binary
components:
  parameters:
    AccountId:
      name: account-id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    VendorKey:
      type: apiKey
      in: header
      name: X-AMC-Vendor-Key
      description: AMC vendor API key issued via the AMC Theatres developer portal.
externalDocs:
  description: AMC Theatres Developer Portal
  url: https://developers.amctheatres.com
