openapi: 3.2.0
info:
  title: AMC Theatres Webhooks API
  description: 'The AMC Theatres API is a public REST API published by AMC Entertainment Holdings

    that exposes data and transactional capabilities for AMC theatres, movies, showtimes,

    locations, loyalty, concessions, orders, refunds, media, and webhooks.'
  version: v2
  contact:
    name: AMC Theatres Developer Portal
    url: https://developers.amctheatres.com
  termsOfService: https://www.amctheatres.com/legal/terms-of-use
  license:
    name: AMC Theatres API Terms of Use
    url: https://www.amctheatres.com/legal/terms-of-use
servers:
- url: https://api.amctheatres.com
  description: AMC Theatres production API
security:
- VendorKey: []
tags:
- name: Webhooks
  description: Vendor webhook subscription and management.
paths:
  /v1/webhook-events:
    get:
      summary: List Available Webhook Events
      operationId: listWebhookEvents
      tags:
      - Webhooks
      responses:
        '200':
          description: Available events.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEvent'
  /v1/webhooks:
    get:
      summary: List Subscribed Webhooks
      operationId: listWebhooks
      tags:
      - Webhooks
      responses:
        '200':
          description: Subscriptions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookSubscription'
    post:
      summary: Subscribe To Webhook Event
      operationId: subscribeWebhook
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionCreate'
      responses:
        '201':
          description: Subscribed.
  /v1/webhooks/{webhook-token-id}:
    delete:
      summary: Unsubscribe From Webhook
      operationId: unsubscribeWebhook
      tags:
      - Webhooks
      parameters:
      - name: webhook-token-id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Unsubscribed.
  /v1/webhooks/{webhook-token-id}/test:
    post:
      summary: Test Webhook Subscription
      operationId: testWebhook
      tags:
      - Webhooks
      parameters:
      - name: webhook-token-id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Test sent.
components:
  schemas:
    WebhookSubscription:
      type: object
      properties:
        webhookTokenId:
          type: string
        eventName:
          type: string
        url:
          type: string
          format: uri
        active:
          type: boolean
    WebhookSubscriptionCreate:
      type: object
      required:
      - eventName
      - url
      properties:
        eventName:
          type: string
        url:
          type: string
          format: uri
    WebhookEvent:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
  securitySchemes:
    VendorKey:
      type: apiKey
      in: header
      name: X-AMC-Vendor-Key
      description: AMC vendor API key issued via the AMC Theatres developer portal.
externalDocs:
  description: AMC Theatres Developer Portal
  url: https://developers.amctheatres.com
