openapi: 3.2.0
info:
  title: AMC Theatres States API
  description: 'The AMC Theatres API is a public REST API published by AMC Entertainment Holdings

    that exposes data and transactional capabilities for AMC theatres, movies, showtimes,

    locations, loyalty, concessions, orders, refunds, media, and webhooks.'
  version: v2
  contact:
    name: AMC Theatres Developer Portal
    url: https://developers.amctheatres.com
  termsOfService: https://www.amctheatres.com/legal/terms-of-use
  license:
    name: AMC Theatres API Terms of Use
    url: https://www.amctheatres.com/legal/terms-of-use
servers:
- url: https://api.amctheatres.com
  description: AMC Theatres production API
security:
- VendorKey: []
tags:
- name: States
  description: U.S. states served by AMC.
paths:
  /v1/states:
    get:
      summary: List All States
      operationId: listStates
      tags:
      - States
      responses:
        '200':
          description: All states.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StateCollection'
  /v1/states/{state-slug}:
    get:
      summary: Get State By Slug
      operationId: getState
      tags:
      - States
      parameters:
      - name: state-slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: State representation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/State'
components:
  schemas:
    StateCollection:
      type: object
      properties:
        states:
          type: array
          items:
            $ref: '#/components/schemas/State'
    State:
      type: object
      properties:
        name:
          type: string
        abbreviation:
          type: string
        slug:
          type: string
  securitySchemes:
    VendorKey:
      type: apiKey
      in: header
      name: X-AMC-Vendor-Key
      description: AMC vendor API key issued via the AMC Theatres developer portal.
externalDocs:
  description: AMC Theatres Developer Portal
  url: https://developers.amctheatres.com
