openapi: 3.2.0
info:
  title: AMC Theatres Refunds API
  description: 'The AMC Theatres API is a public REST API published by AMC Entertainment Holdings

    that exposes data and transactional capabilities for AMC theatres, movies, showtimes,

    locations, loyalty, concessions, orders, refunds, media, and webhooks.'
  version: v2
  contact:
    name: AMC Theatres Developer Portal
    url: https://developers.amctheatres.com
  termsOfService: https://www.amctheatres.com/legal/terms-of-use
  license:
    name: AMC Theatres API Terms of Use
    url: https://www.amctheatres.com/legal/terms-of-use
servers:
- url: https://api.amctheatres.com
  description: AMC Theatres production API
security:
- VendorKey: []
tags:
- name: Refunds
  description: Order refunds, refund reasons, and fee waivers.
paths:
  /v1/fee-waiver:
    post:
      summary: Get Fee Waiver For Order
      operationId: getFeeWaiver
      tags:
      - Refunds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeeWaiverRequest'
      responses:
        '200':
          description: Fee waiver result.
components:
  schemas:
    FeeWaiverRequest:
      type: object
      properties:
        orderId:
          type: string
        reason:
          type: string
  securitySchemes:
    VendorKey:
      type: apiKey
      in: header
      name: X-AMC-Vendor-Key
      description: AMC vendor API key issued via the AMC Theatres developer portal.
externalDocs:
  description: AMC Theatres Developer Portal
  url: https://developers.amctheatres.com
