openapi: 3.0.3
info:
  title: AMC Theatres Barcodes Media API
  description: 'The AMC Theatres API is a public REST API published by AMC Entertainment Holdings

    that exposes data and transactional capabilities for AMC theatres, movies, showtimes,

    locations, loyalty, concessions, orders, refunds, media, and webhooks. It is intended

    for partner integrations such as movie discovery, ticket sales, dine-in / express pickup

    concession ordering, AMC Stubs loyalty integrations, and entertainment listings on

    third-party sites and apps.


    Authentication is performed by sending a vendor API key in the `X-AMC-Vendor-Key`

    request header. Responses follow a HAL-style envelope (`pageSize`, `pageNumber`,

    `count`, `_embedded`, `_links`) for collections.


    This OpenAPI definition was reconstructed from the public AMC Developer Portal

    documentation (developers.amctheatres.com) and known integrations. The dev portal

    blocks automated retrieval, so this spec was assembled from third-party mirrors

    of the AMC documentation and verified against open-source AMC API clients.'
  version: v2
  contact:
    name: AMC Theatres Developer Portal
    url: https://developers.amctheatres.com
  termsOfService: https://www.amctheatres.com/legal/terms-of-use
  license:
    name: AMC Theatres API Terms of Use
    url: https://www.amctheatres.com/legal/terms-of-use
servers:
- url: https://api.amctheatres.com
  description: AMC Theatres production API
security:
- VendorKey: []
tags:
- name: Media
  description: Images and videos for movies, theatres, and attributes.
paths:
  /v2/media/{media-type}/{media-id}:
    get:
      summary: Get Media By Type and Id
      operationId: getMediaItem
      tags:
      - Media
      parameters:
      - name: media-type
        in: path
        required: true
        schema:
          type: string
      - name: media-id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Media representation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaItem'
  /v2/media/{resource-type}/{resource-id}/{media-type}:
    get:
      summary: List Media for a Resource
      operationId: listMediaForResource
      tags:
      - Media
      parameters:
      - name: resource-type
        in: path
        required: true
        schema:
          type: string
          enum:
          - movies
          - theatres
          - attributes
      - name: resource-id
        in: path
        required: true
        schema:
          type: string
      - name: media-type
        in: path
        required: true
        schema:
          type: string
          enum:
          - images
          - videos
      responses:
        '200':
          description: Media collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCollection'
  /v2/media/images/content-types:
    get:
      summary: List Image Content Types
      operationId: listImageContentTypes
      tags:
      - Media
      responses:
        '200':
          description: Available image content types.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /v2/media/videos/content-types:
    get:
      summary: List Video Content Types
      operationId: listVideoContentTypes
      tags:
      - Media
      responses:
        '200':
          description: Available video content types.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /v2/images/sizes:
    get:
      summary: List Image Sizes
      operationId: listImageSizes
      tags:
      - Media
      responses:
        '200':
          description: Available image sizes.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
components:
  schemas:
    MediaItem:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
        contentType:
          type: string
        width:
          type: integer
        height:
          type: integer
    MediaCollection:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MediaItem'
  securitySchemes:
    VendorKey:
      type: apiKey
      in: header
      name: X-AMC-Vendor-Key
      description: AMC vendor API key issued via the AMC Theatres developer portal.
externalDocs:
  description: AMC Theatres Developer Portal
  url: https://developers.amctheatres.com
