openapi: 3.2.0
info:
  title: AMC Theatres Movie Confirmations API
  description: 'The AMC Theatres API is a public REST API published by AMC Entertainment Holdings

    that exposes data and transactional capabilities for AMC theatres, movies, showtimes,

    locations, loyalty, concessions, orders, refunds, media, and webhooks.'
  version: v2
  contact:
    name: AMC Theatres Developer Portal
    url: https://developers.amctheatres.com
  termsOfService: https://www.amctheatres.com/legal/terms-of-use
  license:
    name: AMC Theatres API Terms of Use
    url: https://www.amctheatres.com/legal/terms-of-use
servers:
- url: https://api.amctheatres.com
  description: AMC Theatres production API
security:
- VendorKey: []
tags:
- name: MovieConfirmations
  description: Movie ticket confirmation lookups.
paths:
  /v1/movies/{movie-id}/confirmation-check/{confirmation-code}:
    get:
      summary: Get Movie Confirmation Check
      description: Returns the number of tickets associated with a given confirmation code for a particular movie.
      operationId: getMovieConfirmationCheck
      tags:
      - MovieConfirmations
      parameters:
      - name: movie-id
        in: path
        required: true
        schema:
          type: integer
      - name: confirmation-code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Confirmation check.
components:
  securitySchemes:
    VendorKey:
      type: apiKey
      in: header
      name: X-AMC-Vendor-Key
      description: AMC vendor API key issued via the AMC Theatres developer portal.
externalDocs:
  description: AMC Theatres Developer Portal
  url: https://developers.amctheatres.com
